header {
  transition: transform 0.5s ease-in-out;
  z-index: 10;
  width: 100%;
  position: sticky;
  top: 0;
  height: var(--header-height);
  @include flex(row, center, center, wrap);
  background-color: var(--bg-header-footer);
  padding: 1.5rem 2.5rem;
}
