// Breakpoints
$breakpoints: (
  'small': (
    max-width: 767px,
  ),
  'medium': (
    min-width: 768px,
  ),
  'large': (
    min-width: 1024px,
  ),
  'huge': (
    min-width: 1200px,
  ),
);

:root {
  // Layout
  --header-height: 6.3rem;
  --footer-height: 6rem;
  --page-padding: 2rem;
  --page-max-width: 120rem;
  --container-max-width: 40rem;

  // Base Colors
  --color-primary: #0073e6;
  --color-primary-hover: #005bb3;
  --color-accent: #ffea00;
  --color-success: #28a745;
  --color-danger: #dc3545;

  // Neutral Palette
  --neutral-100: #fff;
  --neutral-200: #f0f0f0;
  --neutral-400: #a4a9b4;
  --neutral-600: #333333;
  --neutral-800: #1a1423;
  --neutral-900: #0d0d0d;

  // Semantic - Light Theme
  --text-primary: var(--neutral-900);
  --text-secondary: var(--neutral-400);
  --text-inverse: var(--neutral-100);

  --bg-primary: var(--neutral-100);
  --bg-secondary: #f4f4f4;
  --bg-header-footer: var(--neutral-900);

  --border-color: var(--neutral-border-primary);
}

:root[data-theme='light'] {
  color-scheme: light;
}

:root[data-theme='dark'] {
  color-scheme: dark;

  // Semantic - Dark Theme
  --text-primary: var(--neutral-200);
  --text-secondary: var(--neutral-400);
  --text-inverse: var(--neutral-100);

  --bg-primary: var(--neutral-900);
  --bg-secondary: var(--neutral-800);
  --bg-header-footer: var(--neutral-900);

  --border-color: var(--neutral-border-secondary);
}
